img{
    border-radius: 10px;
}
.containerSidebar{
    display: flex;
    flex-direction: column;
    height:auto;
    width: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 50%;
}


.sidebarItems{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    font-size: 1.3rem;
}

.item{
    border-bottom: 2px solid red;
    border-radius: 5px;
}

.item:hover{
    color: green;
    border-bottom: 2px solid blue;
    border-radius: 5px;
}

.logOut{
    border: 2px solid blue;
    background: linear-gradient(89.89deg, #003805 0.06%, #467814 102.53%);
    padding: 0.3em;
}

.logOut:hover{
    border: 2px solid yellow;
    color: white;
}